---

---

<div class="hamburger">
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
</div>

<script is:inline>
	// import "../../scripts/menu";
	document.querySelector('.hamburger').addEventListener('click', () => {
		document.querySelector('.nav-links').classList.toggle('expanded')
	})
</script>
