---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import LoginModal from '$components/login-svelte/LoginModal.svelte'
import Search from './Search.svelte';
---

<header class="main-header">
	<!-- <p class="mb-2 mt-2 border border-t-white"></p> -->
	<div class="kire-web">KIRE WEB</div>

	<Search client:load/>

	<LoginModal client:load />

	<nav class="header-container">
		<Hamburger />
		<Navigation />
	</nav>
</header>

<style>
	.kire-web {
		font-family: Norse;
		font-size: 50px;
		letter-spacing: 4ch;
		text-align: center;
		margin-right: -4ch;
	}
</style>
