---
import Navigation from "./Navigation.astro";
import Hamburger from './Hamburger.astro';

---

<header class="main-header">
    <nav class="header-container">
        <Hamburger />
        <Navigation/>
    </nav>
</header>

<style>
.header-container {
    /* min-height: 70px; */
    /* max-height: 100px; */
    /* height: 70px; */
    /* display: grid; */
	/* align-items: center; */
}
</style>