---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import LoginModal from '$components/login-svelte/LoginModal.svelte'
//import Login from '$components/login/login.astro'

// supabase.auth.onAuthStateChange((event, session) => {
// 	//   if (event == 'SIGNED_IN') console.log('SIGNED_IN', session)
// 	//   if (event == 'SIGNED_OUT') console.log('SIGNED_OUT', session)
// 	//   if (event == 'TOKEN_REFRESHED') console.log('TOKEN_REFRESHED', session)

// 	console.log("AUTH CHANGE:", event, session)
// 	// if (session) {
// 	// 	user = session.user
// 	// 	if (session && session.user) {
// 	// 		console.log(session.user)
// 	// 	}
// 	// }

// })

// const isLoggedIn = !(user == null);
//const session = Astro.cookies.get('session_token')?.value;

// session={
//         (event) => {Astro.cookies.set('session_token', event.detail.sessionCookie)}
//     }
---

<p class="mb-2 mt-2 border border-t-white"></p>
<div class="kire-web">KIRE WEB</div>
<!-- <LoginModal session={session} client:visible /> -->
<LoginModal client:load />
<header class="main-header">
	<nav class="header-container">
		<Hamburger />
		<Navigation />
	</nav>

	<!-- <form hx-post>
		<label>
			
		</label>
	</form> -->
	<!-- hx-get="/api/search?q=${encodeURIComponent(this.value)}" -->
	<!-- hx-params="q:_" -->
	<div>
		<input
			type="text"
			id="search-input"
			hx-get="/api/search"
			hx-params="q:_"
			hx-trigger="keyup changed delay:500ms"
			hx-target="#search-result"
			placeholder="Search..."
		/>

		<div id="search-result"></div>
	</div>

	<button hx-get="say_hello.html" hx-target="#outcome">Click me</button>
	<div id="outcome"></div>
</header>

<style>
	.header-container {
		/* min-height: 70px; */
		/* max-height: 100px; */
		/* height: 70px; */
		/* display: grid; */
		/* align-items: center; */
	}

	.kire-web {
		font-family: Norse;
		font-size: 50px;
		letter-spacing: 4ch;
		text-align: center;
		margin-right: -4ch;
	}
</style>
