---
import Navigation from "./Navigation.astro";
import Hamburger from './Hamburger.astro';
import LoginModal from "../login/LoginModal.svelte"

let user = null


// supabase.auth.onAuthStateChange((event, session) => {
// 	//   if (event == 'SIGNED_IN') console.log('SIGNED_IN', session)
// 	//   if (event == 'SIGNED_OUT') console.log('SIGNED_OUT', session)
// 	//   if (event == 'TOKEN_REFRESHED') console.log('TOKEN_REFRESHED', session)

// 	console.log("AUTH CHANGE:", event, session)
// 	// if (session) {
// 	// 	user = session.user
// 	// 	if (session && session.user) {
// 	// 		console.log(session.user)
// 	// 	}
// 	// }
	
// })

// const isLoggedIn = !(user == null);
let ebin = true
---

<p class="border-t-white border mt-2 mb-2"></p>
<div class="kire-web">KIRE WEB</div>
<LoginModal client:load/>
<header class="main-header">
    <nav class="header-container">
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
.header-container {
    /* min-height: 70px; */
    /* max-height: 100px; */
    /* height: 70px; */
    /* display: grid; */
	/* align-items: center; */
}

.kire-web {
    font-family: Norse;
    font-size: 50px;
    letter-spacing: 4ch;
    text-align: center;
    margin-right:-4ch;
}
</style>