---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/comics/">&#128296 Comics &#128296</a>
    <a href="/posts/">Blog</a>
    <a href="/horoscope-game">Horoscope Game</a>
    <a href="/framework-demos/">Framework demos</a>
    <a href="/about/">About</a>
</div>