---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
})

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    created_at: story.first_published_at,
    edited_at: story.published_at,
    // created_at: new Date(story.first_published_at).toLocaleString("en-FI", {dateStyle: "full", timeStyle: "short"}),
    // edited_at: new Date(story.published_at).toLocaleString("en-FI", {dateStyle: "short", timeStyle: "short"}),
    description: story.content.description,
    // slug: "posts/"+story.full_slug,
    slug: story.name,
    headImage: story.content.headerImage?.url
  }
})


const { blok } = Astro.props
---

<div class="border-solid border-2 border-violet-800 rounded-lg p-2 bg-black bg-opacity-40 mb-4 mt-4">
  <h1 class=" text-white text-center">Storyblok Blog posts</h1>
  <ul {...storyblokEditable(blok)} class=" flex flex-col">
    {posts.map(post => (
      <a 
      href={post.slug}
      style=`background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(${post.headImage});` 
      class="card-button card-background p-5 m-5 rounded-md"
      rel="prefetch-intent"
      >
        <li class=" flex flex-col">
          {post.created_at !== post.edited_at && 
            <time class="text-sm text-end">
              (edited: {new Date(post.edited_at).toLocaleString("en-FI", {dateStyle: "short", timeStyle: "short"})})
            </time>
            }
          <time class="text-sm">
            {new Date(post.created_at).toLocaleString("en-FI", {dateStyle: "full", timeStyle: "short"})}
          </time>
          <p class=" text-3xl">{post.title}</p>
          <p class="text-base text-end">{post.description}</p>
        </li>
      </a>
    ))}
  </ul>
</div>

<style>
  .card-button {
    text-align: left;
    box-shadow: none;
    transition: 0.3s;
  }
  .card-button:hover {
      /* border: 2px solid white; */
      /* box-sizing: border-box; */

      box-shadow:inset 0px 0px 0px 3px white;
    }
  .card-background{
    background-repeat:no-repeat !important; 
    background-position:center !important;
    background-size: cover !important;
    /* background-attachment:fixed !important; */
  }
  /* .card-background{
    position: relative;
    z-index:1;
    overflow:hidden
  }
  .card-background:before{
      z-index:-1;
      position:absolute;
      left:0;
      top:0;
      content: url('path/to/image.ext');
      opacity:0.4;
  } */
</style>