---
import Layout from "$layouts/Layout.astro";
import LayoutMargin from "$layouts/LayoutMargin.astro";
---

<Layout title="Comics">
<LayoutMargin>
    <div>WIP</div>
</LayoutMargin>
</Layout>