---
import Layout from '../layouts/Layout.astro'
import ProfilePage from '$components/building-blocks/Profile.svelte'
import type { AuthSession } from '@supabase/supabase-js'
import { supabase } from '$lib/supabaseClient'

const pageTitle: String = 'Profile'
---

<Layout title={pageTitle}>
	<h1 class="text-gradient">{pageTitle}</h1>

	<ProfilePage client:load />
</Layout>
