---
import Layout from "$layouts/Layout.astro";
import { supabase } from "$lib/supabaseClient";

async function handleSubmit(e) {
    const newPassword = e.target.password.value
    const newPasswordRepeat = e.target.repeat_password.value

    if (newPassword === newPasswordRepeat){
        await supabase.auth.updateUser( { password: newPassword })
    }
    else {
        alert("Passwords do not match.")
    }
   

    Astro.redirect("/")
}

const code = Astro.url.searchParams.get('code')
await supabase.auth.exchangeCodeForSession(code)
---

<Layout title="Update Password">
    <div>
        <form method="POST" onsubmit="handleSubmit()">
            <label>New password
                <input id="password" name="password">
            </label>
            <label>Repeat password
                <input id="repeat_password" name="repeat_password">
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</Layout>