--- 
import { SEO } from "astro-seo";
//import LoginStatus from "../components/stuff/LoginStatus.astro"

export interface Props {
	title: string;
	//user: object;
}

// const { title, user } = Astro.props as Props;
const { title } = Astro.props as Props;
//const isLoggedIn = !(user == null);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/jpg" href="/unnaafwafwfmed.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
			title="Astro Supabase Vercel website"
			description="App prototype built with Astro and Supabase authentication, deployed to Vercel"
			twitter={{
				card:"summary",
				site:"@wahlstra"
			}}
			extend={{
				meta: [
					{
						name: "twitter:image",
						content: "https://astro-supabase-vercel.vercel.app/preview.png",
					},
						{ name: "twitter:title", content: "Astro Supabase Vercel website" },
						{ name: "twitter:description", content: "App prototype built with Astro and Supabase authentication, deployed to Vercel" },
					],
			}}
		/>
	</head>
	<body>
		<slot/>
		<!-- <div class="container mx-auto px-4 font-outfit">
			<div class="flex flex-col items-center pt-20 pb-12 prose-a:text-blue-800 prose-blockquote:text-gray-500 prose-blockquote:border-l prose-blockquote:border-l-4 prose-blockquote:border-emerald-500 prose-blockquote:font-light">
				<h1 class="text-3xl md:text-7xl text-white">Astro + Supabase + Vercel</h1>
				<LoginStatus isLoggedIn={isLoggedIn}></LoginStatus>
				<div class="pt-8 max-w-xl">
					<article class="prose-lg lg:prose-xl">
						<slot/>
					</article>
				</div>
			</div>
		</div> -->
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
